/*** Global ***/
:root {
  --borderColor: #1F2734;
  --bodyColor: #ECEFF0;
  --dark: #1E1E1E;
  --blue: #3DB8FF;
  --darkBlue: #0D99FF;
  --red: #F83F3B;
  --darkRed: #F83D39;
  --move: #5271FF;
  --darkMove: #541EB4;
  --dispayBg: #fff;
  --brown: #6E352B;
}

.title {
  font-size: 20px;
  color: var(--borderColor);
}

/*** Monitor Container ***/

.monitor-container .box-container {
  max-width: 1100px;
  border-radius: 25px;
  border: 15px solid var(--borderColor);
}

.monitor-container .box-content {
  background-color: var(--bodyColor);
  padding: 20px 0 70px 0;
  border-radius: 8px;
}

.monitor-container .display-container {
  flex: 0 0 calc(100% - 190px);
  max-width: calc(100% - 190px);
  min-height: 500px;
  padding: 0 10px 0 20px;
}

.monitor-container .inner-display {
  border: 3px solid var(--borderColor);
  background-color: #fff;
  padding: 10px 0;
}

.monitor-container .box-btns {
  flex: 0 0 190px;
  max-width: 190px;
  padding: 0 20px 0 10px;
}

.monitor-container .box-btns .btn {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  min-height: 60px;
  padding: 16px 8px;
  border: 1px solid var(--borderColor);
  box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,.15);
}

.monitor-container .box-btns .btn:active {
  box-shadow: inset 0px 1px 0px 2px rgba(0,0,0,.15);
}

.monitor-container .box-btns .btn:not(:first-child) {
  margin-top: 15px;
}

.monitor-container .box-btns .bg-red {
  background-color: var(--darkRed);
}

.monitor-container .box-btns .bg-dark {
  background-color: var(--borderColor);
}

.monitor-container .data-row {
  padding: 15px;
  color: var(--borderColor);
}

.monitor-container .left-data {
  flex: 0 0 135px;
  max-width: 135px;
  padding: 0px 0 0 20px;
}

.monitor-container .mid-data {
  flex: 0 0 calc(100% - 305px);
  max-width: calc(100% - 305px);
}

.monitor-container .right-data {
  flex: 0 0 170px;
  max-width: 170px;
}

.monitor-container .right-data .sign:not(:last-child) {
  margin-bottom: 10px;
}

.monitor-container .sign > div {
  min-height: 71px;
  font-weight: 600;
}

.monitor-container .sign .sign-name {
  font-size: 18px;
  flex: 0 0 45%;
  max-width: 45%;
}

.monitor-container .sign .sign-value {
  flex: 0 0 55%;
  max-width: 55%;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
}

.monitor-container .wave-list::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  animation: wavespin 5s cubic-bezier(0.04, 0.1, 0.08, 0.04) infinite;
}

.monitor-container .bgwave {
  height: 77px;
  width: 100%;
  background-size: contain;
  background-position: 0px center;
  background-repeat: repeat;
}

.monitor-container .display-container .icon img {
  animation: fadeInOut 0.7s ease-in-out infinite;
}

.monitor-container .blue {
  color: var(--blue);
}

.monitor-container .red {
  color: var(--red);
}

.monitor-container .brown {
  color: var(--brown);
}

.monitor-container .move {
  color: var(--move);
}

.monitor-container .darkmove {
  color: var(--darkMove);
}

.monitor-container .config-inputs {
  padding: 0 20px 25px 20px;
}

.monitor-container .form-inner {
  background-color: rgba(0, 0, 0, .06);
  border-radius: 10px;
  padding: 15px 10px 10px 10px;
}

.monitor-container .form-inner .form-group:not(:last-child) {
  margin-right: 30px;
}

.monitor-container .form-contaner .form-control {
  width: 90px;
  min-height: 44px;
  outline: none;
  box-shadow: none;
}

/* For WebKit browsers like Chrome, Safari */
.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.form-control[type="number"] {
  -moz-appearance: textfield;
}

.monitor-container .form-contaner {
  height: 0px;
}

.monitor-container .form-contaner label {
  white-space: nowrap;
}

.monitor-container .config-heading {
  cursor: pointer;
}

.monitor-container .config-heading .arrow {
  width: 17px;
  height: 17px;
  margin-top: 4px;
  transition: transform 0.22s ease-in-out;
}

.monitor-container .config-heading.active .arrow {
  transform: rotate(90deg);
}

.monitor-container input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: linear-gradient(to right, #0d6efd 0%, #0d6efd 0%, #cbd5e5 0%, #cbd5e5 100%);
}

.monitor-container input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-radius: 15px;
}

.monitor-container input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-radius: 15px;
}

.monitor-container input[type=range]::-ms-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-radius: 15px;
}

.monitor-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
  border: 4px solid #fff;
  outline: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #0d6efd;
  cursor: pointer;
  margin-top: -10px;
}

.monitor-container input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
  border: 4px solid #fff;
  outline: none;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #0d6efd;
  cursor: pointer;
  margin-top: -10px;
}

.monitor-container input[type=range]:focus::-webkit-slider-thumb {
  background: #0d6efd;
  box-shadow: 0px 0px 2px 3px #0d6efd;
}

.monitor-container input[type=range]:focus::-moz-range-thumb {
  background: #0d6efd;
  box-shadow: 0px 0px 2px 2px #0d6efd;
}

.monitor-container .note {
  font-size: 14px;
  color: #4c4c4c;
}

/*** Animations ***/

@keyframes wavespin {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

